In [3]:
import pandas as pd

df_listing = pd.read_csv('./listings.csv')
df_reviews = pd.read_csv('./reviews.csv')
df_cal = pd.read_csv('./calendar.csv')


<h3 id='q1'>Question 1</h3>

**1.** Provide the number of rows and columns in this dataset.

In [4]:
num_row_listing = str(df_listing.shape[0])
num_cols_listing = str(df_listing.shape[1])

print('number of rows in listing file: '+num_row_listing)
print('number of columns in listing file: '+num_cols_listing)

number of rows in listing file: 3585
number of columns in listing file: 95


<h3 id='q1'>Question 2</h3>

**1.** list integer column and drop empty columns

In [14]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

df_int_listing = df_listing.select_dtypes(include=numerics).dropna(axis=1, how='all', inplace=False)
df_int_listing

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
0,12147973,20160906204935,31303940,1,1,42.282619,-71.133068,4,1.5,2.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,3075044,20160906204935,2572247,1,1,42.286241,-71.134374,2,1.0,1.0,...,36,94.0,10.0,9.0,10.0,10.0,9.0,9.0,1,1.30
2,6976,20160906204935,16701,1,1,42.292438,-71.135765,2,1.0,1.0,...,41,98.0,10.0,9.0,10.0,10.0,9.0,10.0,1,0.47
3,1436513,20160906204935,6031442,1,1,42.281106,-71.121021,4,1.0,1.0,...,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1,1.00
4,7651065,20160906204935,15396970,1,1,42.284512,-71.136258,2,1.5,1.0,...,29,99.0,10.0,10.0,10.0,10.0,9.0,10.0,1,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,20160906204935,19246369,28,28,42.380968,-71.083795,3,1.0,1.0,...,4,90.0,10.0,10.0,10.0,10.0,8.0,9.0,8,0.34
3581,14844274,20160906204935,37366454,2,2,42.347503,-71.118336,2,1.0,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3582,14585486,20160906204935,11311919,1,1,42.371771,-71.071300,4,1.0,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3583,14603878,20160906204935,74318064,4,4,42.385226,-71.080923,2,1.0,1.0,...,2,90.0,9.0,8.0,9.0,9.0,8.0,7.0,1,2.00
3584,14504422,20160906204935,42070843,14,14,42.387888,-71.080654,2,1.0,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN